.ipynb_checkpoints/
.vscode
.idea
data/
.data/
NaturalLanguageProcessing/data/
NaturalLanguageProcessing/.data/
NaturalLanguageProcessing/.vector_cache/
Experiments/
Machine Learning/
Convex Optimization/
