[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"
graphviz = "*"
visdom = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.6"
