[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
jupyter = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"
graphviz = "*"
visdom = "*"
scikit-image = "*"
tensorboardx = "*"
tqdm = "*"
spacy = "*"
featuretools = "*"
torchtext = "*"
eli5 = "*"
textblob = "*"
gensim = "*"
bokeh = "*"
altair = "*"
vega-datasets = "*"
notebook = "*"
vega = "*"
keras = "*"
tensorflow = "*"
pymc3 = "*"
arviz = "*"
flair = "*"

[dev-packages]

[requires]
python_version = "3.7"
